<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="GRD_v8_simple.SLDASM">
  <link
    name="base_footprint_link">
    <inertial>
      <origin
        xyz="-6.56845352564806E-07 -5.69677584763001E-16 0.331904075260688"
        rpy="0 0 0" />
      <mass
        value="0.789290645343358" />
      <inertia
        ixx="0.00130670897233411"
        ixy="-3.37115251526543E-18"
        ixz="-8.9296817126679E-10"
        iyy="0.00389981821392557"
        iyz="8.73266086519944E-19"
        izz="0.00386978211033499" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/base_footprint_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/base_footprint_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.37004284522618E-07 -8.88806750348617E-16 0.0331211817986434"
        rpy="0 0 0" />
      <mass
        value="0.965433444631341" />
      <inertia
        ixx="0.00134888440724559"
        ixy="-3.36680002563451E-18"
        ixz="-8.92968171268089E-10"
        iyy="0.00392787450302288"
        iyz="8.79586266486297E-19"
        izz="0.00391770229232179" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link_joint"
    type="fixed">
    <origin
      xyz="0 0 0.3"
      rpy="0 0 0" />
    <parent
      link="base_footprint_link" />
    <child
      link="base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="FR1_link">
    <inertial>
      <origin
        xyz="0.0264718868981586 4.76615570639827E-05 -2.7351512728653E-05"
        rpy="0 0 0" />
      <mass
        value="0.0550356079426859" />
      <inertia
        ixx="1.0220547570515E-05"
        ixy="9.21599173562303E-08"
        ixz="-1.71566533100838E-08"
        iyy="1.27189731796972E-05"
        iyz="1.13739465021943E-08"
        izz="1.39399348608685E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FR1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FR1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR1_joint"
    type="revolute">
    <origin
      xyz="0.1579 -0.0491 0.0385"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FR1_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR2_link">
    <inertial>
      <origin
        xyz="-0.0624107306327838 -0.0425760729820302 0.000529563391455136"
        rpy="0 0 0" />
      <mass
        value="0.265486140481839" />
      <inertia
        ixx="0.000116723599677101"
        ixy="-2.14812123202204E-05"
        ixz="2.08751212461461E-07"
        iyy="0.00110660608370148"
        iyz="-1.032474678319E-06"
        izz="0.00102345902950224" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FR2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FR2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR2_joint"
    type="revolute">
    <origin
      xyz="0.0361 -0.023398 0.00029452"
      rpy="0 0 0" />
    <parent
      link="FR1_link" />
    <child
      link="FR2_link" />
    <axis
      xyz="0 0.99992 -0.012586" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FR3_link">
    <inertial>
      <origin
        xyz="2.74157606547365E-08 -0.00900759466989609 -0.127567232195809"
        rpy="0 0 0" />
      <mass
        value="0.12115155954286" />
      <inertia
        ixx="0.00022295848229437"
        ixy="1.34125875104812E-11"
        ixz="2.72703347801638E-10"
        iyy="0.000224386212329487"
        iyz="-2.59892552803724E-06"
        izz="1.66449742664474E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FR3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FR3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR3_joint"
    type="revolute">
    <origin
      xyz="-0.21 -0.041397 0.00052108"
      rpy="0 0 0" />
    <parent
      link="FR2_link" />
    <child
      link="FR3_link" />
    <axis
      xyz="0 -0.99992 0.012586" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL4_link">
    <inertial>
      <origin
        xyz="0.0264718868981555 -4.80020392728125E-05 2.67494578489041E-05"
        rpy="0 0 0" />
      <mass
        value="0.0550356079426499" />
      <inertia
        ixx="1.02205475705113E-05"
        ixy="-9.23685580005691E-08"
        ixz="1.59953309685416E-08"
        iyy="1.27188803100972E-05"
        iyz="-3.99597507376529E-09"
        izz="1.39400277304636E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FL4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FL4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL4_joint"
    type="revolute">
    <origin
      xyz="0.1579 0.0491 0.0388"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FL4_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL5_link">
    <inertial>
      <origin
        xyz="-0.0624080431136424 0.0425793659077429 0.000579015400427471"
        rpy="0 0 0" />
      <mass
        value="0.265486134497846" />
      <inertia
        ixx="0.000116801069407084"
        ixy="2.14813644290052E-05"
        ixz="8.38101370329994E-06"
        iyy="0.00110661888250558"
        iyz="-1.82819236795351E-07"
        izz="0.001023368725898" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FL5_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FL5_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL5_joint"
    type="revolute">
    <origin
      xyz="0.0361 0.0234 0"
      rpy="0 0 0" />
    <parent
      link="FL4_link" />
    <child
      link="FL5_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FL6_link">
    <inertial>
      <origin
        xyz="-0.00378870428557081 0.0073987331703962 -0.127614277918269"
        rpy="0 0 0" />
      <mass
        value="0.12115157499788" />
      <inertia
        ixx="0.000222776830984035"
        ixy="4.96708866284164E-10"
        ixz="-6.12051528661523E-06"
        iyy="0.000224418771535467"
        iyz="1.63979247188469E-08"
        izz="1.67941699637976E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FL6_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/FL6_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL6_joint"
    type="revolute">
    <origin
      xyz="-0.20999 0.0414 0.0019269"
      rpy="0 0 0" />
    <parent
      link="FL5_link" />
    <child
      link="FL6_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR7_link">
    <inertial>
      <origin
        xyz="-0.0234991038936837 0.0007237152559188 1.51658006125599E-07"
        rpy="0 0 0" />
      <mass
        value="0.064404748374352" />
      <inertia
        ixx="1.31324768595347E-05"
        ixy="4.20354127351148E-08"
        ixz="-3.5034433524837E-08"
        iyy="1.51194833409556E-05"
        iyz="2.76284960576828E-10"
        izz="1.56355492340351E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RR7_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RR7_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR7_joint"
    type="revolute">
    <origin
      xyz="-0.1579 -0.0491 0.0385"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RR7_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR8_link">
    <inertial>
      <origin
        xyz="-0.0624107305967427 -0.0425793634814681 -1.52811744668982E-05"
        rpy="0 0 0" />
      <mass
        value="0.26548614038711" />
      <inertia
        ixx="0.000116723599664994"
        ixy="-2.1482124761844E-05"
        ixz="-6.61383690814395E-08"
        iyy="0.00110661888981649"
        iyz="3.17216912039723E-08"
        izz="0.00102344622233838" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RR8_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RR8_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR8_joint"
    type="revolute">
    <origin
      xyz="-0.01285 -0.0231 0"
      rpy="0 0 0" />
    <parent
      link="RR7_link" />
    <child
      link="RR8_link" />
    <axis
      xyz="0 1 0.00020955" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RR9_link">
    <inertial>
      <origin
        xyz="2.74394623134278E-08 -0.00737451339229261 -0.127672047024278"
        rpy="0 0 0" />
      <mass
        value="0.121151555775922" />
      <inertia
        ixx="0.000222958478287968"
        ixy="9.89729762421695E-12"
        ixz="2.73052368287438E-10"
        iyy="0.000224418699194435"
        iyz="5.99543896279454E-08"
        izz="1.66124828307464E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RR9_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RR9_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR9_joint"
    type="revolute">
    <origin
      xyz="-0.21 -0.0414 0"
      rpy="0 0 0" />
    <parent
      link="RR8_link" />
    <child
      link="RR9_link" />
    <axis
      xyz="0 -1 -0.00020955" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL10_link">
    <inertial>
      <origin
        xyz="-0.0234991038936858 -0.00072371267275035 -1.93957606733908E-06"
        rpy="0 0 0" />
      <mass
        value="0.0644047483743793" />
      <inertia
        ixx="1.31324768595372E-05"
        ixy="-4.21218360588192E-08"
        ixz="3.49304792875912E-08"
        iyy="1.51194851255249E-05"
        iyz="-9.98641049713357E-10"
        izz="1.56355474494693E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RL10_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RL10_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL10_joint"
    type="revolute">
    <origin
      xyz="-0.1579 0.0491 0.0385"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RL10_link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL11_link">
    <inertial>
      <origin
        xyz="-0.0624107305952689 0.0425791957937427 0.000120472268963487"
        rpy="0 0 0" />
      <mass
        value="0.265486140383275" />
      <inertia
        ixx="0.000116723599666979"
        ixy="2.14818958091395E-05"
        ixz="1.19209166503722E-07"
        iyy="0.00110661822543897"
        iyz="2.37196452456693E-07"
        izz="0.00102344688667582" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RL11_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RL11_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL11_joint"
    type="revolute">
    <origin
      xyz="-0.01285 0.0231 6.1908E-05"
      rpy="0 0 0" />
    <parent
      link="RL10_link" />
    <child
      link="RL11_link" />
    <axis
      xyz="0 -1 -0.00268" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RL12_link">
    <inertial>
      <origin
        xyz="2.74433004654462E-08 0.00774086626105516 -0.127650211936214"
        rpy="0 0 0" />
      <mass
        value="0.1211515562199" />
      <inertia
        ixx="0.000222958477525555"
        ixy="9.22256636166183E-12"
        ixz="2.73111039858761E-10"
        iyy="0.000224417134029697"
        iyz="5.73331701555264E-07"
        izz="1.66140473655098E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RL12_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GRD_v8_simple.SLDASM/meshes/RL12_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL12_joint"
    type="revolute">
    <origin
      xyz="-0.21 0.0414 0.00011095"
      rpy="0 0 0" />
    <parent
      link="RL11_link" />
    <child
      link="RL12_link" />
    <axis
      xyz="0 1 0.00268" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>